<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner" >
                  <div class="carousel-item active" >
                    <img src="https://assets-global.website-files.com/5f4f67c5950db17954dd4f52/5f5b7ee442f1e5b9fee1c117_hacerse-una-casa.jpeg" class="rounded d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://assets-global.website-files.com/5f4f67c5950db17954dd4f52/5f5b7ee442f1e5b9fee1c117_hacerse-una-casa.jpeg" class="rounded d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://assets-global.website-files.com/5f4f67c5950db17954dd4f52/5f5b7ee442f1e5b9fee1c117_hacerse-una-casa.jpeg" class="rounded d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col">
              <h2>Casa Bonita en Escazú</h2>
              <span>Casa con varias habitaciones en lugar céntrico de San José, Escazú</span>
            </div>
            <div class="col-4">
              <a href="home.html" id="boton" class="bttn bttn-jelly bttn-md bttn-primary bttn-block">Crear Habitación</a>
            </div>
          </div>
          <br>
          <div class="row">
            <ul class="nav nav-pills nav-fill navTabs">
              <li class="nav-item navTabsItem">
                <a class="nav-link active" aria-current="page" href="#">En Curso (3)</a>
              </li>
              <li class="nav-item navTabsItem">
                <a class="nav-link" href="#">Próximas (0)</a>
              </li>
              <li class="nav-item navTabsItem">
                <a class="nav-link" href="#">Solicitudes (2)</a>
              </li>
              <li class="nav-item navTabsItem">
                <a class="nav-link" href="#">Finalizadas (23)</a>
              </li>
              <li class="nav-item navTabsItem">
                <a class="nav-link" href="#">Disponibles (7)</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
</div>