/* LOGIN */
	section.login {
		background: linear-gradient(-45deg, #00ADB5, #00eaf7, #00ADB5, #00eaf7) !important;
		/* background: url("../img/Fondo.png"),linear-gradient(-45deg, #00ADB5, #00eaf7, #00ADB5, #00eaf7);; */
		background-size: 400% 400% !important;
		animation: gradient 15s ease infinite !important;
		height: 100vh !important;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
/* FIN LOGIN */

/* BOTONES */
	#boton{
		background-color: #00ADB5 !important;
		border: 100% solid #00ADB5 !important;
	}
	a.boton_oscuro{
		text-align: center;
		background-color: #393E46 !important;
		border: 100% solid #393E46 !important;
		color: white !important;
	}
	a.boton_oscuro:hover{
		background-color: #4c525c !important;
	}

	a.boton_primario{
		text-align: center;
		background-color: #00ADB5 !important;
		border: 100% solid #00ADB5 !important;
		color: white !important;
	}
	a.boton_primario:hover{
		background-color: #008B92 !important;
	}

	a.boton_BN{
		text-align: center;
		background-color: #ffffff00 !important;
		/* border: 0.1rem solid #000000 !important; */
		outline: 0.18rem solid rgb(0, 0, 0);
		outline-offset: -0.18rem;
		color: rgb(0, 0, 0) !important;
	}
	a.boton_BN:hover{
		background-color: #ffffff00 !important;
	}

	.btn-primario {
		--bs-btn-color: #fff;
		--bs-btn-bg: #00ADB5;
		--bs-btn-border-color: #00ADB5;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #008B92;
		--bs-btn-hover-border-color: #008B92;
		--bs-btn-focus-shadow-rgb: 49,132,253;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #008B92;
		--bs-btn-active-border-color: #008B92;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: #00ADB5;
		--bs-btn-disabled-border-color: #00ADB5;
	}
	.bttn{
		text-decoration: none;
		text-align: center;
	}
/* FIN BOTONES */

/* TEXTOS */
	a.text-primary{
		color: #00eaf7 !important;
	}
	.text-primario{
		color: #00ADB5 !important;
	}
	.text-bold{
		font-weight: bold !important;
	}
/* FIN TEXTOS */

/* FONDOS */
	.bg-oscuro{
		background-color: #393E46 !important;
	}

	.bg-primario{
		background-color: #00ADB5 !important;
	}
/* FIN FONDOS */

body{
	font-family: 'Inter',Arial, Helvetica, sans-serif !important;
}

h2{
	font-weight: bolder;
}

.card-title{
	font-weight: bold !important;
}

input:hover{
	border-color: #00ADB5 !important;
	box-shadow: inset !important;
}

.navbar{
	background-color: #393E46 !important;
}

.dropdown-item{
	--bs-dropdown-link-active-bg: #00ADB5 !important;
}

.navsuperior{
	background-color: #00ADB5 !important;
	--bs-nav-pills-link-active-bg: #008B92 !important;
	--bs-nav-link-color: white !important;
	--bs-nav-link-hover-color: rgb(223, 223, 223) !important;
	--bs-nav-pills-border-radius: 0rem !important;
	text-align: center !important;
}

.navTabs{
	--bs-nav-pills-link-active-bg: #393E46 !important;
	--bs-nav-link-hover-color: #00eaf7 !important;
	--bs-nav-pills-border-radius: 1rem !important;
	text-align: center !important;
}
.navTabsItem{
	border-color: #00ADB5;
	border-style: solid;
	border-radius: 1.2rem;
	color: #00ADB5;
	--bs-nav-link-color: #00ADB5 !important;
}

.nav-item.submenu{
	width: 10em !important;
}

@media screen and (max-width: 767px) {
	.nav-item.submenu{
		width: 7em !important; 
	}
	.desapareceMovil-FondoOscuro {
		background-color: #393E46;
	}
}

.border-primario{
	border-color: #00ADB5 !important;
}

.breadcrumb-item > a{
	--bs-link-color: black;
	text-decoration: none;
	font-weight: bold;
}

.nav-configuraciones{
	--bs-nav-pills-border-radius: 0rem !important;
	--bs-nav-pills-link-active-bg: #00ADB5 !important;
	--bs-link-color: white;
	--bs-nav-link-hover-color: #00ADB5 !important;
	background-color: #393E46 !important;
}
.nav-configuraciones>.nav-link{
	border-bottom: 0.1rem solid #00ADB5 !important;
	text-align: start;
}
.nav-configuraciones>.nav-link>span{
	margin-left: 1rem;
}