body{
	font-family: 'Inter',Arial, Helvetica, sans-serif !important;
}

h2{
	font-weight: bolder;
}

a.text-primary{
	color: #00eaf7 !important;
}

.card-title{
	font-weight: bold !important;
}

section.login {
	background: linear-gradient(-45deg, #00ADB5, #00eaf7, #00ADB5, #00eaf7) !important;
	/* background: url("../img/Fondo.png"),linear-gradient(-45deg, #00ADB5, #00eaf7, #00ADB5, #00eaf7);; */
	background-size: 400% 400% !important;
	animation: gradient 15s ease infinite !important;
	height: 100vh !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

input:hover{
	border-color: #00ADB5 !important;
	box-shadow: inset !important;
}

#boton{
	background-color: #00ADB5 !important;
	border: 100% solid #00ADB5 !important;
}
a.boton_oscuro{
	background-color: #393E46 !important;
	border: 100% solid #393E46 !important;
	color: white !important;
}
a.boton_oscuro:hover{
	background-color: #4c525c !important;
}

.navbar{
	background-color: #393E46 !important;
}

.dropdown-item{
	--bs-dropdown-link-active-bg: #00ADB5 !important;
}

.navsuperior{
	background-color: #00ADB5 !important;
	--bs-nav-pills-link-active-bg: #008B92 !important;
	--bs-nav-link-color: white !important;
	--bs-nav-link-hover-color: rgb(223, 223, 223) !important;
	--bs-nav-pills-border-radius: 0rem !important;
	text-align: center !important;
}

.navTabs{
	--bs-nav-pills-link-active-bg: #393E46 !important;
	--bs-nav-link-hover-color: #00eaf7 !important;
	--bs-nav-pills-border-radius: 1rem !important;
	text-align: center !important;
}
.navTabsItem{
	border-color: #00ADB5;
	border-style: solid;
	border-radius: 1.2rem;
	color: #00ADB5;
	--bs-nav-link-color: #00ADB5 !important;
}

.nav-item.submenu{
	width: 10em !important;
}

@media screen and (max-width: 580px) {
	.nav-item.submenu{
		width: 7em !important; 
	}
	.desapareceMovil {
		display: none !important;
	}
}

.bg-oscuro{
	background-color: #393E46 !important;
}

.bg-primario{
	background-color: #00ADB5 !important;
}
.text-primario{
	color: #00ADB5 !important;
}
.bttn{
	text-decoration: none;
	text-align: center;
}

.carousel-item > img {
	object-fit: cover;
	width:230px;
	height:230px;
  }

.carousel-item{
	width:200px;
	height:200px;
	overflow:"hidden"
}