<footer class="text-center text-white bg-oscuro">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <div class="m-1">
          <a
            class="text-primario"
            href="https://www.facebook.com/SipavSA"
            ><i class="fab fa-facebook-f"></i>
            Visitanos en Facebook
          </a>
    
        </div>
        <!-- Twitter -->
        <!-- <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a> -->
  
        <!-- Google -->
        <!-- <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a> -->
  
        <!-- Instagram -->
        <!-- <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a> -->
  
        <!-- Linkedin -->
        <!-- <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a> -->
        <!-- Github -->
        <!-- <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a> -->
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-white p-3 bg-primario">
      © 2022 Copyright:
      <a class="text-white" href="https://www.sipavint.com/">Sipav Internacional SA</a>
    </div>
    <!-- Copyright -->
  </footer>